section.canhcam-carousel-1
	.container
		.row
			.col-12
				.kimoanh-title.orange
					h1.h1 đối tác
					span
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item(data-mh="coop")
						a(href='#')
							img(src='./img/kimoanh/index/index-15.png', alt='')
					.item(data-mh="coop")
						a(href='#')
							img(src='./img/kimoanh/index/index-16.png', alt='')
					.item(data-mh="coop")
						a(href='#')
							img(src='./img/kimoanh/index/index-17.png', alt='')
					.item(data-mh="coop")
						a(href='#')
							img(src='./img/kimoanh/index/index-18.png', alt='')
					.item(data-mh="coop")
						a(href='#')
							img(src='./img/kimoanh/index/index-19.png', alt='')
					.item(data-mh="coop")
						a(href='#')
							img(src='./img/kimoanh/index/index-20.png', alt='')
					.item(data-mh="coop")
						a(href='#')
							img(src='./img/kimoanh/index/index-15.png', alt='')
