section.canhcam-boxes-4
	.container
		.row
			.col-12
				.kimoanh-title.white
					h1.h1 dự án
					span
	.container
		.news-slide.owl-carousel.owl-theme
			.item.no-gutters.d-flex.flex-wrap(data-hash="news-1")
				.col-lg-8(bg-img="./img/slider/slider-big-1.jpg")
					figure
						img.img-fluid(src="./img/slider/slider-big-1.jpg", alt="alt")
				.col-lg-4.bg-white
					.text
						h3.h3 Mega City 2
						//- p.date
						//- 	span.fas.fa-calendar-alt
						//- 	span 28/12/2018
						p.descrip Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch. Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch.
						p.mb-0.link
							a(href="#") Xem chi tiết dự án
								i.mdi.mdi-arrow-right
			.item.no-gutters.d-flex.flex-wrap(data-hash="news-2")
				.col-lg-8(bg-img="./img/slider/slider-big-1.jpg")
					figure
						//- img.img-fluid(src="./img/slider/slider-big-1.jpg", alt="alt")
				.col-lg-4.bg-white
					.text
						h3.h3 Mega City 2
						//- p.date
						//- 	span.fas.fa-calendar-alt
						//- 	span 28/12/2018
						p.descrip Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch. Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch.
						p.mb-0.link
							a(href="#") Xem chi tiết dự án
								i.mdi.mdi-arrow-right
			.item.no-gutters.d-flex.flex-wrap(data-hash="news-3")
				.col-lg-8(bg-img="./img/slider/slider-big-1.jpg")
					figure
						img.img-fluid(src="./img/slider/slider-big-1.jpg", alt="alt")
				.col-lg-4.bg-white
					.text
						h3.h3 Mega City 2
						//- p.date
						//- 	span.fas.fa-calendar-alt
						//- 	span 28/12/2018
						p.descrip Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch. Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch.
						p.mb-0.link
							a(href="#") Xem chi tiết dự án
								i.mdi.mdi-arrow-right
			.item.no-gutters.d-flex.flex-wrap(data-hash="news-4")
				.col-lg-8(bg-img="./img/slider/slider-big-1.jpg")
					figure
						img.img-fluid(src="./img/slider/slider-big-1.jpg", alt="alt")
				.col-lg-4.bg-white
					.text
						h3.h3 Mega City 2
						//- p.date
						//- 	span.fas.fa-calendar-alt
						//- 	span 28/12/2018
						p.descrip Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch. Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch.
						p.mb-0.link
							a(href="#") Xem chi tiết dự án
								i.mdi.mdi-arrow-right
			.item.no-gutters.d-flex.flex-wrap(data-hash="news-5")
				.col-lg-8(bg-img="./img/slider/slider-big-1.jpg")
					figure
						img.img-fluid(src="./img/slider/slider-big-1.jpg", alt="alt")
				.col-lg-4.bg-white
					.text
						h3.h3 Mega City 2
						//- p.date
						//- 	span.fas.fa-calendar-alt
						//- 	span 28/12/2018
						p.descrip Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch. Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch.
						p.mb-0.link
							a(href="#") Xem chi tiết dự án
								i.mdi.mdi-arrow-right
		.slide-nav.row.no-gutters.justify-content-between.owl-carousel.owl-theme
			a.item-nav(href="#news-1")
				figure
					img(src="./img/kimoanh/index/index-10.jpg", alt="")
					figcaption
						h4.h4 Mega City 1
			a.item-nav(href="#news-2")
				figure
					img(src="./img/kimoanh/index/index-11.jpg", alt="")
					figcaption
						h4.h4 Mega City 2
			a.item-nav(href="#news-3")
				figure
					img(src="./img/kimoanh/index/index-12.jpg", alt="")
					figcaption
						h4.h4 Mega City Singa City
			a.item-nav(href="#news-4")
				figure
					img(src="./img/kimoanh/index/index-13.jpg", alt="")
					figcaption
						h4.h4 Golden Center City 2
			a.item-nav(href="#news-5")
				figure
					img(src="./img/kimoanh/index/index-9.jpg", alt="")
					figcaption
						h4.h4 Golden Center City 2
