section.canhcam-boxes-5#about-3(bg-img="./img/kimoanh/about/about-7.jpg")
	.container
		.row
			.col-12
				.kimoanh-title.orange
					h1.h1 định hướng phát triển
					span
		.row
			.col-md-6.col-lg-3
				.item
					.img(data-mh="dinhhuong")
						img.img-fluid(src="./img/kimoanh/about/about-8.png", alt="alt")
					.text
						h5.h5 phương châm hoạt động
						ul
							li Cam kết chất lượng sản phẩm cao nhất
							li Luôn đặt chữ tín lên hàng đầu 
							li Lấy lợi ích của khách hàng làm trung tâm hoạt động
			.col-md-6.col-lg-3
				.item
					.img(data-mh="dinhhuong")
						img.img-fluid(src="./img/kimoanh/about/about-9.png", alt="alt")
					.text
						h5.h5 tầm nhìn
						ul
							li Cam kết chất lượng sản phẩm cao nhất
							li Luôn đặt chữ tín lên hàng đầu 
							li Lấy lợi ích của khách hàng làm trung tâm hoạt động
			.col-md-6.col-lg-3
				.item
					.img(data-mh="dinhhuong")
						img.img-fluid(src="./img/kimoanh/about/about-10.png", alt="alt")
					.text
						h5.h5 sứ mệnh
						ul
							li Phát triển những dự án chất lượng và mang lại cuộc sống phồn vinh cho cư dân
							li Nâng cao giá trị sản phẩm qua từng dự án cho các nhà đầu tư
							li Hợp tác cùng phát triển với tất cả các đối tác

			.col-md-6.col-lg-3
				.item
					.img(data-mh="dinhhuong")
						img.img-fluid(src="./img/kimoanh/about/about-11.png", alt="alt")
					.text
						h5.h5 giá trị cốt lõi
						ul
							li Kiến tạo môi trường sống xanh cho cuộc sống bền vững
							li Ứng dụng công nghệ hiện đại để đảm bảo chất lượng sản phẩm
							li Thấu hiểu và đáp ứng nhu cầu phong phú, đa dạng của khách hàng
							li Minh bạch trong chất lượng và uy tín trong giao kết
							li Phát huy tinh thần sáng tạo
							li Chuyên nghiệp hóa môi trường làm việc

