<?xml version="1.0" encoding="utf-8" ?>
<settings>
  
  <!--value bắt buộc phải là giá trị binary. Ví dụ: 1; 2; 4; 8; 16;...-->
  <position>
    <add name="Home Banner" value="1" resourcefile="" />
    <add name="Client Banner" value="2" resourcefile="" />
    <add name="Gioi Thieu Banner" value="4" resourcefile="" />
    <add name="Du An Banner" value="8" resourcefile="" />
    <add name="Tin Tuc Banner" value="16" resourcefile="" />
    <add name="Thu Vien Banner" value="32" resourcefile="" />
    <add name="Tuyen Dung Banner" value="64" resourcefile="" />
    <add name="Lien He Banner" value="128" resourcefile="" />
  </position>
  
</settings>