section.canhcam-news-details-1
	article.news-details
		.container
			.row
				.col-lg-9
					.news-read
						h1 Những dự án giao thông nghìn tỷ thay đổi diện mạo Nhơn Trạch
						time 
							span.fas.fa-calendar-alt
							span 12/12/2017
						p.lead Theo báo cáo mới nhất cập nhật cuối tháng 4/2018 của các công ty nghiên cứu thị trường, giữa năm 2017 giá đất bình quân tại Nhơn Trạch ghi nhận 5 - 7,5 triệu đồng mỗi m2, nay vọt lên 12-15 triệu đồng/m2. Các chuyên gia cho rằng, dòng vốn hàng chục ngàn tỷ đồng đang rót vào hạ tầng giao thông chính là động lực hàng đầu khiến Nhơn Trạch khởi sắc.
						p.lead Cầu cát lái
						p Giữa năm 2017, cầu Cát Lái chính thức được phê duyệt đầu tư với số vốn lên tới 5,700 tỷ đồng. Cầu có chiều dài 4,5 km với 8 làn xe, vận tốc 80 km/h. Theo dự kiến, cầu sẽ hoàn thành trước năm 2020. Cầu Cát Lái có ý nghĩa đặc biệt quan trọng trong việc rút ngắn quãng đường, thời gian di chuyển từ Đồng Nai đến TP.HCM, giãn dân từ TP.HCM về Nhơn Trạch đồng thời đưa Nhơn Trạch trở thành ngoại ô của TP.HCM. Việc thoát cảnh “qua sông lụy phà” đã khiến cho giá đất Nhơn Trạch tăng đột biến. Nhiều nhà đầu tư đổ về đây săn tìm quỹ đất tạo ra thị trường giao dịch vô cùng sôi động.
						p.lead Sân bay Quốc tế Long Thành
						p Với lợi thế gần khu vực sân bay Long Thành, Nhơn Trạch tiếp tục được hưởng lợi lớn từ dự án trọng điểm của Quốc gia. Sân bay Long Thành quy hoạch đế đón khoảng 100 triệu lượt khách/năm, dự kiến khởi công vào tháng 6/2020 và đưa vào khai thác năm 2025. Bên cạnh việc giảm tải cho sân bay Tân Sơn Nhất, việc hình thành sân bay Long Thành sẽ kéo theo sự phát triển của các trung tâm thương mại, trung tâm logistics, các trung tâm về cư trú cho những cán bộ khu vực này. Đồng thời kéo theo sự hình thành các tuyến đường trọng điểm nối thẳng từ TP.HCM qua Nhơn Trạch về tới Long Thành. Từ đó, tạo tiền để phát triển khu vực Nhơn Trạch.
						p.lead Khởi công đường Vành đai 3 đoạn Nhơn Trạch – TP.HCM
						p
							a.item-news-read(href="./img/kimoanh/news/news-detail-1.jpg")
								figure
									img.img-fluid.img-thumbnail(src="./img/kimoanh/news/news-detail-1.jpg", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")
						p.lead Khởi công đường Vành đai 3 đoạn Nhơn Trạch – TP.HCM
						p Dự án đường Vành đai 3 dài 90 km với 6 làn xe, vận tốc di chuyển 100 km/h, đi qua địa phận 4 tỉnh: TPHCM – Nhơn Trạch (Đồng Nai) – Bình Dương – Long An. Dự kiến đến Quý 2/2018 sẽ khởi công đoạn từ ngã tư quận Thủ Đức đến đường 25B (đường Tôn Đức Thắng) tại trung tâm huyện Nhơn Trạch với chiều dài khoảng 17km. Được xây dựng theo mô hình vòng tròn khép kín, đường Vành Đai 3 được xem là mạch giao thông quan trọng giúp Nhơn Trạch kết nối TP.HCM và các tỉnh miền Đông, miền Tây Nam bộ. Từ đó, thúc đẩy sự đầu tư mạnh mẽ vào các KCN trên địa bàn Nhơn Trạch.
						p.lead Tuyến Metro Thủ Thiêm – Sân bay Quốc tế Long Thành
						p Để khai thác tối đa hiệu quả sân bay Long Thành, UBND thành phố hiện đang có chủ trương xây dựng tuyến Metro Thủ Thiêm – sân bay Quốc tế LongThành. Tuyến đường sẽ có lộ trình đi qua TL 25B thuộc địa phận Nhơn Trạch, rút ngắn tối đa quãng thời gian di chuyển từ Nhơn Trạch đến trung tâm TP.HCM.
						p.lead “Điểm nóng” Tỉnh lộ 25B mở rộng (đường Tôn Đức Thắng)
						p Đầu năm 2018, tuyến TL 25 B (đường Tôn Đức Thắng) mở rộng chính thức được thông xe tiếp tục tạo sức bật phát triển Nhơn Trạch. TL 25B có chiều dài 9.2km, điểm đầu dự án nối với QL 51, huyện Long Thành, điểm cuối là trung tâm hành chính Nhơn Trạch. TL 25B hiện là tuyến đường chính kết nối vào 7 khu công nghiệp của huyện Nhơn Trạch và khu vực trung tâm huyện.
						p
							a.item-news-read(href="./img/kimoanh/news/news-detail-2.jpg")
								figure
									img.img-fluid.img-thumbnail(src="./img/kimoanh/news/news-detail-2.jpg", alt="Lorem ipsum dolor, sit amet consectetur adipisicing elit.")

						p Nhìn vào quy hoạch, dễ dàng nhận thấy các công trình giao thông trọng điểm từ TP.HCM hướng về Long Thành hay Nhơn Trạch đều đi qua đoạn đường này. Cụ thể, TL 25 B nối về QL 51, nơi có sân bay Long Thành. Đầu còn lại kết nối đến cảng Cát Lái. Ngoài ra đường Vành đai 3 hay tuyến đường sắt cũng đi ngang qua khu vực này.
						p Quanh trục TL 25 B cũng là khu vực tập trung nhiều khu công nghiệp trọng điểm của tỉnh Đồng Nai. Với hệ thống giao thông đang dần hoàn thiện và sắp được đầu tư nâng cấp, trục TL 25 B mở rộng (đường Tôn Đức Thắng) đang trở thành khu vực được nhiều nhà đầu tư BĐS săn đón.
						p Gần đây nhất trên mặt tiền đường Tôn Đức Thắng, Thăng Long Real chính thức công bố khu dân cư cao cấp Thăng Long Home – Hiệp Phước. Đây là dự án nhà ở cao cấp hướng tới hơn 5.000 chuyên gia đang làm việc tại các khu công nghiệp của Nhơn Trạch. Dự án có quy mô 9,8 ha bao gồm 227 căn nhà phố vườn và nhà phố thương mại. Thăng Long Home Hiệp Phước được đánh giá cao nhờ hệ thống tiện ích đa dạng lần đầu tiên xuất hiện tại Nhơn Trạch. Bên cạnh đó, dự án cũng đặc biệt gây ấn tượng khi dành tới 70% diện tích toàn khu để phát triển hệ thống cây xanh, dịch vụ tiện ích.
						p Công bố trong bối cảnh giá nhà đất Nhơn Trạch đang “tăng tốc” từng ngày, nhiều công trình giao thông kết nối TP.HCM – Nhơn Trạch sắp được khởi công, Thăng Long Home – Hiệp Phước được kỳ vọng sẽ là khoản đầu tư siêu lợi nhuận của khách hàng. Mặt khác, để đảm bảo quyền lợi cho khách hàng, Thăng Long Real cam kết chương trình cho thuê lại tối thiểu 15 triệu/ tháng trong 2 năm đầu tiên. Khách mua được ngân hàng hỗ trợ 70% với lãi suất ưu đãi. Như vậy, bỏ ra số vốn đầu tư khiêm tốn, nhà đầu tư đã cầm chắc trong tay khoản lợi nhuận ít nhất 360 triệu.
						.social-networks.nav
							.nav-item
								.fb-share-button(data-href='', data-layout='button', data-size='small', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='') Chia sẻ
							.nav-item
								a.twitter-share-button(href='https://twitter.com/share', data-size='medium', data-text='custom share text', data-url='', data-via='twitterdev', data-related='twitterapi,twitter') Tweet
							.nav-item
								.g-plusone(data-size="tall")

				.col-lg-3
					.othernews(data-fix="80", data-fix-type="initial", data-fix-change="sticky")
						h2 Tin liên quan
						hr
						.lists
							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3 golf-etc EXPum dolor sit amet consecteANDS REFLECTIVE TECHNOLOGY

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3 golf-etc EVE TECHNOLOGY

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3 golf-etcum dolor sit amet consecteum dolor sit amet consecte EXPANDS REFLECTIVE TECHNOLOGY

							a.item(href="#")
								figure
									img(src="./img/news/img-01.png", alt="alt")
									figcaption
										h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
