section.canhcam-boxes-11
	.container
		.row
			.col-12
				.kimoanh-title.orange
					h1.h1 vị trí tuyển dụng
					span
		.row.mb-2.justify-content-center
			.col
				.table-responsive
					table.table
						thead
							tr
								th(scope='col') Vị trí ứng tuyển
								th.text-center(scope='col') Số lượng ứng tuyển
								th.text-center(scope='col') Địa điểm
								th.text-center(scope='col') Hạn nộp hồ sơ
						tbody
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
									span.badge.badge-danger.ml-auto.mr-4 Mới
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
									span.badge.badge-danger.ml-auto.mr-4 Mới
								td.text-center 05

								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
							tr
								th.d-flex.align-items-start(scope='row')
									a.mr-auto(href="job-details.html") Tuyển dụng vị trí Giám đốc Marketing
								td.text-center 05
								td.text-center TP. Hồ Chí Minh
								td.text-center 21.01.2018
