<?xml version="1.0" encoding="utf-8" ?>
<templates>
  <newstype name="Tin tức" value="0"></newstype>
  <!--<showoption name="Icon new" value="1"></showoption>-->

  <templatelist xsltname="NewsList.xslt" name="Danh sách tin"></templatelist>
  <templatelist xsltname="TuyenDung-DS.xslt" name="Danh sách Tuyển dụng"></templatelist>
  <templatelist xsltname="TinTuc-DS.xslt" name="Danh sách Tin tức"></templatelist>
  <templatelist xsltname="DuAn-DS.xslt" name="Danh sách Dự án"></templatelist>
  <templatelist xsltname="GioiThieu-ThongDiepTGD.xslt" name="Thông điệp Tổng Giám Đốc"></templatelist>
  <templatelist xsltname="GioiThieu-SoDoToChuc.xslt" name="Sơ đồ tổ chức"></templatelist>
  <templatelist xsltname="ThuVienHinhAnh.xslt" name="Thư viện hình ảnh"></templatelist>
  <templatelist xsltname="ThuVienVideo.xslt" name="Thư viện video"></templatelist>

  <templatedetail xsltname="NewsDetail.xslt" name="Chi tiết tin"></templatedetail>
  <templatedetail xsltname="TuyenDung-CT.xslt" name="Chi tiết tuyển dụng"></templatedetail>
  <templatedetail xsltname="TinTuc-CT.xslt" name="Tin tức chi tiết"></templatedetail>
  <position>
    <add name="Trang chủ" value="1" resourcefile="" />
    <add name="Tuyển dụng" value="2" resourcefile="" />
    <add name="Dự án" value="2" resourcefile="" />
  </position>
</templates>