section.canhcam-gallery-3
	article.gallery-details
		.container
			.row.gallery-lists.justify-content-between.no-gutters
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-1.png", data-poster="./img/kimoanh/gallery/gal-1.png",  data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-1.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-2.png", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-2.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-3.png", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-3.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-1.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-1.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-1.png", data-sub-html="<h4>Giới thiệu Đời Photo</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-1.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-1.png", data-sub-html="<h4>HTML/CSS - Bài 1 - TÌm hiểu về HTML</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-1.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-1.png", data-sub-html="<h4>Cánh Cam CAB v1.5</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-1.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-1.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-1.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p 7 tháng 5, 2018 / 10 hình ảnh
				.item-wrap
					a.item(href="./img/kimoanh/gallery/gal-1.png", data-sub-html="<h4>golf-etc EXPANDS REFLECTIVE T</h4>")
						figure.mb-2
							.boxzoom
								img.img-fluid(src="./img/kimoanh/gallery/gal-1.png", alt="Demo title")
							figcaption
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								p 7 tháng 5, 2018 / 10 hình ảnh
