section.canhcam-news-3
	article.news-hot
		.container
			.row.no-gutters.mb-2.top
				.col-lg-8
					.img(bg-img-responsive="./img/kimoanh/news/news-1.png", bg-img-responsive-sm="./img/kimoanh/news/news-1.png", bg-img-responsive-xs="./img/kimoanh/news/news-1.png")
					//- figure
					//- 	img.img-fluid.d-lg-none(src="./img/kimoanh/news/news-1.png", alt="alt")
				.col-lg-4
					.text 
						h3.h3 Mega City 2 - Dự án mới gây sốt tại Tp Nhơn Trạch - Đồng Nai
						p.date
							span.fas.fa-calendar-alt
							span 28/12/2018
						p.descrip Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch. Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch.
						p.mb-0.link
							a(href="#") Xem thêm 
								i.mdi.mdi-arrow-right
			
	article.news-list
		//- .container
		//- 	.row.d-none.d-md-block
		//- 		.col.mb-4.d-flex.align-items-center.justify-content-center.justify-content-md-end
		//- 			.btn-group
		//- 				button#list.btn.btn-outline-primary(type="button")
		//- 					i.fa.fa-th-list
		//- 					| List
		//- 				button#grid.btn.btn-outline-primary.active(type="button")
		//- 					i.fa.fa-th
		//- 					| Grid

		.container
			.row.no-gutters.justify-content-between#products
				.item-wrap
					a.item(href="#")
						figure.mb-2
							img.img-fluid(src="./img/kimoanh/news/news-2.png", alt="alt")
							figcaption(data-mh="news")
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
								time
									span.fas.fa-calendar-alt
									span 12/12/2017
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
				.item-wrap
					a.item(href="#")
						figure.mb-2
							img.img-fluid(src="./img/kimoanh/news/news-3.png", alt="alt")
							figcaption(data-mh="news")
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								time
									span.fas.fa-calendar-alt
									span 12/12/2017
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
				.item-wrap
					a.item(href="#")
						figure.mb-2
							img.img-fluid(src="./img/kimoanh/news/news-1.png", alt="alt")
							figcaption(data-mh="news")
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								time
									span.fas.fa-calendar-alt
									span 12/12/2017
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit
				.item-wrap
					a.item(href="#")
						figure.mb-2
							img.img-fluid(src="./img/kimoanh/news/news-2.png", alt="alt")
							figcaption(data-mh="news")
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY
								time
									span.fas.fa-calendar-alt
									span 12/12/2017
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo accusantium totam nihil expedita consectetur officia ea recusandae iure debitis.
				.item-wrap
					a.item(href="#")
						figure.mb-2
							img.img-fluid(src="./img/kimoanh/news/news-3.png", alt="alt")
							figcaption(data-mh="news")
								h3 golf-etc EXPANDS REFLECTIVE TECHNOLOGY OFFERING IN SPRING 2017  COLLECTION
								time
									span.fas.fa-calendar-alt
									span 12/12/2017
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit delectus ex explicabo
				.item-wrap
					a.item(href="#")
						figure.mb-2
							img.img-fluid(src="./img/kimoanh/news/news-1.png", alt="alt")
							figcaption(data-mh="news")
								h3 golf-etc EXPANN SPRING 2017  COLLECTION
								time
									span.fas.fa-calendar-alt
									span 12/12/2017
								p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas a quidem quas autem sunt aspernatur accusamus, odit