.canhcam-boxes-10(bg-img="./img/kimoanh/job/job-1.jpg")
	.container
		.row
			.col-12
				.kimoanh-title.orange
					h1.h1 hình thức nộp hồ sơ
					span
		.row.justify-content-center
			.col-md-5
				.content
					.icon
						span.fas.fa-envelope
						span Trực tuyến
					.name
						p KIM OANH INVESTMENT
					.address
						p Email: info@kimoanhinvestment.com.vn
						p HR: tuyendung@kimoanhinvestment.com.vn
						p Web: www.kimoanhinvestment.com.vn
			.col-md-5
				.content
					.icon
						span.fas.fa-map-marker-alt
						span Tại văn phòng
					.name
						p KIM OANH INVESTMENT
					.address
						p Số 292 đường Đồng Khởi, P.Hoà Phú, Tp. Thủ Dầu Một, Tỉnh Bình Dương
						p Tel: (0274) 3803 168 - Fax: (0274) 3803 166
						p Mail: tuyendung@diaockimoanh.com.vn  Web: www.diaockimoanh.com.vn