section.canhcam-job-details-1
	article.job-details
		.container
			.row
				.col-lg-8
					.jobread
						h1 TUYỂN SINH VIÊN THỰC TẬP THIẾT KẾ ĐỒ HỌA
						time
							i.fas.fa-calendar-alt
							|  12/12/2017
						.content
							p.title
								strong Thông tin tuyển dụng
							.table-responsive
								table.table
									tr
										th Vị trí tuyển dụng
										td Nhân viên kinh doanh
									tr
										th Chức vụ: 
										td Nhân viên
									tr
										th Yêu cầu giới tính: 
										td Nam
									tr
										th Địa điểm làm việc: 
										td PT Event
									tr
										th Yêu cầu độ tuổi: 
										td 19 - 25 tuổi
									tr
										th Mức lương: 
										td Thỏa thuận
									tr
										th Bằng cấp tối thiểu: 
										td Tốt nghiệp cao Đẳng trở lên chuyên ngành TKDH
									tr
										th Số lượng cần tuyển:
										td 10
									tr
										th Kinh nghiệm tối thiểu: 
										td 0 - 2 năm
										
							p.title Mô tả công việc
							p
								ul
									li Thiết kế giao diện, Landing, Subweb cho sản phẩm của công ty
									li Thiết kế Banner,backdroup, standee quảng cáo online
									li Thiết kế Poster, tờ rơi,… sản phẩm in ấn phục vụ công việc quảng bá sản phẩm
									li Trao đổi ý tưởng thiết kế với quản lý và sản phẩm đảm bảo thời gian, tiến độ công việc, sản phẩm thiết kế của mình được giao
									
							p.title Yêu cầu công việc
							p
								ul
									li Thiết kế giao diện, Landing, Subweb cho sản phẩm của công ty
									li Thiết kế Banner,backdroup, standee quảng cáo online
									li Thiết kế Poster, tờ rơi,… sản phẩm in ấn phục vụ công việc quảng bá sản phẩm
									li Trao đổi ý tưởng thiết kế với quản lý và sản phẩm đảm bảo thời gian, tiến độ công việc, sản phẩm thiết kế của mình được giao
									
							p.title Quyền lợi được hưởng
							p
								ul
									li Thiết kế giao diện, Landing, Subweb cho sản phẩm của công ty
									li Thiết kế Banner,backdroup, standee quảng cáo online
									li Thiết kế Poster, tờ rơi,… sản phẩm in ấn phục vụ công việc quảng bá sản phẩm
									li Trao đổi ý tưởng thiết kế với quản lý và sản phẩm đảm bảo thời gian, tiến độ công việc, sản phẩm thiết kế của mình được giao
							p.title Hạn nộp hồ sơ: 
								span 30/06/2018

						.download
							a.btn.btn-download(href="#") Tải mẫu đơn xin việc
							a.btn.btn-getjob(href="#") Ứng tuyển ngay
				.col-lg-4
					.otherjob(data-fix="100", data-fix-type="initial", data-fix-change="sticky")
						h2 Tin liên quan
						.lists
							a.item(href="#")
								time
									i.fas.fa-calendar-alt
									|  12/12/2017
								p Chào mừng 1/6 giảm 20% khi thuê âm thanh ánh sáng
							hr
							a.item(href="#")
								time
									i.fas.fa-calendar-alt
									|  12/12/2017
								p Chào mừng 1/6 giảm 20% khi thuê âm thanh ánh sáng
							hr
							a.item(href="#")
								time
									i.fas.fa-calendar-alt
									|  12/12/2017
								p Chào mừng 1/6 giảm 20% khi thuê âm thanh ánh sáng
							hr
							a.item(href="#")
								time
									i.fas.fa-calendar-alt
									|  12/12/2017
								p Chào mừng 1/6 giảm 20% khi thuê âm thanh ánh sáng
							hr
							a.item(href="#")
								time
									i.fas.fa-calendar-alt
									|  12/12/2017
								p Chào mừng 1/6 giảm 20% khi thuê âm thanh ánh sáng
							hr