section.canhcam-boxes-6#about-4
	article.container
		.row
			.col-12
				.kimoanh-title.orange
					h2 sơ đồ tổ chức
					span
		.row
			.col-12
				img(src="./img/kimoanh/about/about-12.png", alt="")