extends _layout/layout.pug
block variables
	- var title = "gioithieu"
	- var description = "Description for gioithieu page"
	- var bodyclass = "gioithieu"
	- var href = "/gioithieu.html"
block header
	include ../lib/header/h-7/index.pug
block body
	include ../lib/boxes/b-8/index.pug
	include ../lib/boxes/b-16/index.pug
block footer
	include ../lib/footer/f-9/index.pug
