footer.canhcam-footer-7(bg-img="./img/kimoanh/footer-bg.png")

	.canhcam-sub
		.container
			.row.flex-column.align-items-center
				.col-lg-6.text-center.mb-4
					h5.h5 NHẬN THÔNG TIN TỪ CHÚNG TÔI
				.col-lg-5.text-center.text-lg-left.mb-4.subscribe
					form.validator.d-flex.justify-content-center
						.form-group.d-flex.w-100
							input#email.form-control.text-center(type='email', pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$", placeholder='Enter your email', data-error="Vui lòng nhập thông tin", required)
							button.btn.btn-primary.totto-btn(type='submit')
								span.fab.fa-telegram-plane
	.footer-content
		.container
			//- .lines
			.row.justify-content-between.row
				.col-md-5.mt-4.mt-lg-0
					.footer-nav
						h6.text-left KIM OANH INVESTMENT
						nav.list-group.text-left
							.list-group-item
								p.mb-0 Số 292 đường Đồng Khởi, P.Hoà Phú, Tp. Thủ Dầu Một, Tỉnh Bình Dương
							.list-group-item
								p.mb-0 Tel: (0274) 3803 168 - Fax: (0274) 3803 166
							.list-group-item
								p.mb-0 Website: kimoanhinvestment.com.vn
							.list-group-item
								p.mb-0 Email: info@kimoanhinvestment.com.vn
				.col-md-3.mt-4.mt-lg-0
					.footer-nav
						h6.text-left GIỚI THIỆU
						nav.list-group.text-left
							.list-group-item
								a(href="#") Thông điệp tổng giám đóc
							.list-group-item
								a(href="#") Lĩnh vực hoạt động
							.list-group-item
								a(href="#") Định hướng phát triển
							.list-group-item
								a(href="#") Sơ đồ tổ chức
							.list-group-item
								a(href="#") Company profile
				.col-md-4.mt-4.mt-lg-0
					.footer-nav
						h6.text-left DỰ ÁN
						nav.list-group.text-left
							.list-group-item
								a(href="#") Dự án đã triển khai
							.list-group-item
								a(href="#") Dự án đã hoàn thành
	.copy-right
		.container
			.row
				.col-lg-4.col-12.text-center.text-lg-left
					span Copyright  2018 Kim Oanh Land. Designed by Cánh Cam.
				.col-lg-4.col-6
					.social-icon.row.justify-content-center.align-items-center
						span.fab.fa-facebook-f
						span.fab.fa-twitter
						span.fab.fa-youtube
				.col-lg-4.col-6.text-center.text-lg-left
					nav.list-group.d-flex.flex-row
						.list-group-item
							a(href="#") Điều kiện & Điều khoản
						.list-group-item
							a(href="#") Chính sách bảo mật
						.list-group-item
							a(href="#") Sitemap