section.canhcam-nav-2
	.container
		.row
			.col
				ul.nav.justify-content-center.nav-pills(data-select)
					li.nav-item.active
						a.nav-link(href='#about-1') THÔNG ĐIỆP TỔNG GIÁM ĐỐC
					li.nav-item
						a.nav-link(href='#about-2') LĨNH VỰC HOẠT ĐỘNG
					li.nav-item
						a.nav-link(href='#about-3') ĐỊNH HƯỚNG PHÁT TRIỂN
					li.nav-item
						a.nav-link(href='#about-4') SƠ ĐỒ TỔ CHỨC