section.canhcam-boxes-9
	.container
		.row
			.col-12
				.kimoanh-title.orange
					h2 tin tức
					span
		.row.no-gutters.mb-3.top
			.col-lg-8
				figure
					img(src="./img/slider/slider-big-1.jpg", alt="alt").img-fluid
			.col-lg-4
				.text 
					h3.h3 Mega City 2 - Dự án mới gây sốt tại Tp Nhơn Trạch - Đồng Nai
					p.date
						span.fas.fa-calendar-alt
						span 28/12/2018
					p.descrip Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch. Vị trí chiến lược, có giá bán hợp lý, khu đô thị thương mại Mega City 2 của Kim Oanh Group được giới kinh doanh BĐS đánh giá là lựa chọn hoàn hảo cho các nhà đầu tư muốn đón đầu sự bứt phá của thành phố Nhơn Trạch.
					p.mb-0.link
						a(href="#") Xem thêm 
							i.mdi.mdi-arrow-right
		.row.no-gutters.bot
			.col-12.col-md
				.item(data-mh="news-box")
					p.date
						span.fas.fa-calendar-alt
						span 28/12/2018
					a(href="#")
						h4.h4 Đón đầu “Thành phố sân bay” với Golden C asd asdasd asd asda dasdasd asda dasdasda sdas đá áds
			.col-12.col-md
				.item(data-mh="news-box")
					p.date
						span.fas.fa-calendar-alt
						span 28/12/2018
					a(href="#")
						h4.h4 Đón đầu “Thành phố sân bay” với Golden Center City 3
			.col-12.col-md
				.item(data-mh="news-box")
					p.date
						span.fas.fa-calendar-alt
						span 28/12/2018
					a(href="#")
						h4.h4 Đón đầu “Thành phố sân bay” với Golden Center City 3
			.col-12.col-md
				.item(data-mh="news-box")
					p.date
						span.fas.fa-calendar-alt
						span 28/12/2018
					a(href="#")
						h4.h4 Đón đầu “Thành phố sân bay” với Golden Center City 3
			.col-12.col-md
				.item(data-mh="news-box")
					p.date
						span.fas.fa-calendar-alt
						span 28/12/2018
					a(href="#")
						h4.h4 Đón đầu “Thành phố sân bay” với Golden Center City 3