section.canhcam-boxes-1
	article.container
		.row
			.col-12
				.kimoanh-title.orange
					h2 Liên hệ
					span
		.row.no-gutters.boxes-details
			.item.col-md-4
				.row.no-gutters
					.col-12
						span.fas.fa-map-marker-alt
					.col-12.text-center
						p Số 292 đường Đồng Khởi, P.Hoà Phú, Tp. Thủ Dầu Một, Tỉnh Bình Dương
			.item.col-md-4
				.row.no-gutters
					.col-12
						span.fas.fa-phone
					.col-12.text-center
						p Tel: (0274) 3803 168 
						p Fax: (0274) 3803 166
			.item.col-md-4
				.row.no-gutters
					.col-12
						span.fas.fa-envelope
					.col-12.text-center
						p Website: kimoanhinvestment.com.vn
						p Email: info@kimoanhinvestment.com.vn