section.canhcam-boxes-2
	article.container
		.row
			.col-12
				.kimoanh-title.orange
					h1.h1 thông điệp tổng giám đốc
					span
			.col-12.col-lg-6
				.img
					img(src="./img/kimoanh/index/index-4.jpg", alt="")
			.col-12.col-lg-6
				.content
					.text
						p
							span.fas.fa-quote-left
							span Công ty cổ phần Đầu tư Kim Oanh (Kim Oanh Investment) chính thức hoạt động vào năm 2015 và là thành viên chủ chốt của Kim Oanh Group - nhà phát triển và phân phối bất động sản hàng đầu khu vực phía Nam. Tuy gia nhập thị trường bất động sản chưa lâu, nhưng với tiềm lực tài chính vững mạnh, nguồn nhân lực sẵn có cùng với sự hậu thuẫn từ hệ thống Kim Oanh Group, Kim Oanh Investment đã đầu tư và phát triển hàng loạt khu đô thị quy mô lớn, tọa lạc ở những vị trí đắc địa, được đầu tư bài bản và tích hợp nhiều tiện ích cao cấp, mang lại không gian sống hoàn hảo cho cộng đồng dân cư. Điển hình như khu đô thị thương mại Mega City 2, quy mô 84 héc ta nằm ngay trung tâm hành chính Nhơn Trạch, tỉnh Đồng Nai. Đây là dự án quy mô lớn nhất từ trước đến nay, được Kim Oanh Investment dành nhiều tâm huyết thực hiện và đã được đông đảo khách hàng đón nhận với tỉ lệ tiêu thụ đạt 100%, chỉ trong một ngày công bố chính thức. 
						p Hiện nay, sau quá trình chuẩn bị từ khá lâu, Kim Oanh Investment đã tích lũy được quỹ đất gần 500 héc ta tập trung chủ yếu ở Bình Dương, Đồng Nai và TPHCM đảm bảo phục vụ chiến lược phát triển lâu dài. Theo đó, trong những năm sắp tới, Kim Oanh Investment sẽ tiếp tục kiến tạo ra những dự án nhà ở quy mô lớn, hạ tầng hoàn thiện, sản phẩm đa dạng và pháp lý minh bạch với mức giá hợp lý nhằm đáp ứng nhu cầu của các nhóm khách hàng khác nhau.
						p Để tiếp tục phát triển và khẳng định vị thế của mình trên thị trường bất động sản, Kim Oanh Investment nhận thức rằng phải không ngừng thay đổi, nâng cao sức mạnh nội tại và xây dựng một bộ máy hoạt động ngày càng chuyên nghiệp. Với mong muốn chia sẻ những cơ hội đầu tư, Kim Oanh Investment luôn trân trọng chào đón sự hợp tác của các đối tác, các tổ chức tài chính, các nhà cung cấp,…theo nguyên tắc hài hòa lợi ích và trách nhiệm để mối quan hệ ngày càng bền vững, đóng góp vào sự phát triển chung của thị trường bất động sản.
						p Với lòng quyết tâm và sự nỗ lực không ngừng của tập thể cán bộ nhân viên là những con người trẻ, năng động, giàu nhiệt huyết, chúng tôi tuyệt đối tin tưởng sẽ hoàn thành tốt mục tiêu đưa Kim Oanh Investment trở thành một trong những nhà phát triển bất động sản hàng đầu Việt Nam trong vài năm tới. Bằng cam kết của mình, Kim Oanh Investment sẽ đem đến cho quý khách hàng và quý đối tác những giá trị tốt đẹp nhất, góp phần vào sự phát triển chung của thị trường bất động sản.
						p Trân trọng!
						p Tổng giám đốc
							span.fas.fa-quote-right


