section.canhcam-boxes-8#about-1(bg-img="./img/kimoanh/about/about-2.jpg")
	.container
		.row
			.col-12
				.kimoanh-title.orange
					h2 thông điệp tổng giám đốc
					span
		.row.mb-2.box-info.no-gutters
			.col-md.order-md-1(bg-img="./img/kimoanh/about/about-1.jpg")
				img(src="./img/kimoanh/about/about-1.jpg", alt="")
			.col-md.order-md-2
				.text
					p
						span.fas.fa-quote-left
						span Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?
					p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam officia numquam, minus illo, libero repellendus accusamus eos temporibus, impedit cupiditate soluta est sit tempora corporis id fugiat ab deserunt. Reiciendis?